@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Segoe UI", "Segoe UI Historic", Helvetica, Arial, sans-serif;
}

.capitalize-first-letter {
  text-transform: lowercase;
}

.capitalize-first-letter::first-letter {
  text-transform: uppercase;
}
